---
layout: page
permalink: /
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Projects</h1>

  <ul class="post-list">
    {% for project in site.projects %}
      <li>
        <span class="post-meta">{{ project.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Issues</h1>

  <ul class="post-list">
    {% for issue in site.issues %}
      <li>
        <span class="post-meta">{{ issue.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ issue.url | relative_url }}">{{ issue.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Resources</h1>

  <ul class="post-list">
    {% for resource in site.resources %}
      <li>
        <span class="post-meta">{{ resource.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ resource.url | relative_url }}">{{ resource.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
